/* Classe para a logotipo */
.logo {
    width: 50px;
    height: 50px;
}

/* Formatação das áreas semânticas */
header, main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

header {
    height: 60px;
    background-color: #dabcb2;
    display: flex;
    align-items:flex-start;
    justify-content: center;
}


/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebcdc3;
    color: #a17a60;
}

/* Menu */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #a17a60;
    font-weight: bold;
}

main {
    height: calc(100vh - 100px);
    overflow-y: auto; /* Barra de rolagem vertical automática */
    padding: 0px;
    background-color: #e8dbd5;
}


.text-center {
    margin-left: 5%;
}

/* Rodapé */
footer {
    background-color: #dabcb2;
    color: #a17a60;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}
