.receitas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* b) Definir a formatação dos painéis de receitas */
.receita {
    background-color: #e8dbd5;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    width: 300px; /* d) Estabelecer dimensões fixas para os painéis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* c) Definir a formatação para o nome da receita, foto do prato, lista de itens e modo de preparo */
.receita h2 {
    margin-top: 0;
}

.receita img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.receita ul {
    list-style-type: disc;
    padding-left: 20px;
}

.receita p {
    text-align: justify;
}

/* e) Utilizar barra de rolagem vertical na área principal, prevendo o aumento do quantitativo de receitas, no modo automático */
main {
    height: 80vh;
    overflow-y: auto;
    margin-bottom: 5%;
}