body {
    background-color: #e8dbd5;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
margin-bottom: 20px;
border: 1px solid #a17a60;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #a17a69;
    text-align: center;
}
 .card-text {
    font-size: 0.9rem;
 }

 .d-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-img-top {
    height: auto;
    max-width: 100%;
}

.container-fluid {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 30px;
}